/*_files/
/*_cache/
.quarto
/.quarto/
tmp/
dev/
quarto.log

# TeX
figures/*.aux
figures/*.synctex.gz
figures/*.fls
figures/*.fdb_latexmk
figures/*.log
figures/*.pdf
figures/*.xdv
# Figures
figures/*.svg
figures/*.png

# R Environment Variables
.Renviron

# Docker
docker/